@using Entity
@model List<Urun>

<h2>Ürünler</h2>

<a href="/Urun/Yeni">Yeni ürün ekle</a>

<style>
    td, th{ padding:10px; border:1px solid black;}
</style>

<table>
    <thead>
        <tr>
            <th>Ürün Adı</th>
            <th>Gruplar</th>
            <th>Marka</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UrunAdi</td>
                <td>@string.Join(",",item.UrunGruplari.Select(x=>x.GrupAdi))</td>
                <td>@item.Marka.MarkaAdi</td>
                <td>
                    <a href="?sil=@item.Id">Sil</a>
                    <a href="/Urun/Duzenle/@item.Id">Düzenle</a>
                </td>
            </tr>
        }
    </tbody>
</table>